/* D3 Chart Styles */
.lineChartSvg {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: -3%;
}

.chart-container .no-chart {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}
.chart-container h2 {
	color: #13d5b0;
	padding-top: 1rem;
}
.chart-list-container {
	position: relative;
}
.chart-list-container .table {
	background: #1b1c1d !important;
	padding: 2%;
}
.chart-list-container .table tr td {
	border-bottom: 1px solid rgba(168, 239, 225, 0.2);
}
.chart-list-container .ui.table thead th {
	background: #1b1c1d !important;
	color: #13d5b0;
	font-size: 1.2em;
}
.chart-list-container button {
	position: absolute;
    bottom: -3%;
    left: -2.5%;
    right: 0;
    width: 105%;
    margin-top: 3% !important;
    background-color: #13d5b0 !important;
    color: black !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.tooltip {
	position: absolute;
	/* top:5px !important;
    left:5px !important;		 */
	text-align: center;
	width: 125px;
	height: 150px;
	fill: #fff;
	stroke: lightsteelblue;
	stroke-width: 0.1em;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
}

.line-group {
	cursor: crosshair;
}

path {
	stroke: #13d5b0;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.tick line {
	stroke: #a8efe1;
	opacity: 0.1;
}
.tick text {
	fill: #13d5b0;
}

.bottom .tick text {
	transform: translate(-1%, 4%) rotate(-75deg);
}

.y1,
.y2,
.y3,
.y4,
.y5,
.y6,
.y7 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	width: 125px;
	height: 25px;
}
.y1 span,
.y2 span,
.y3 span,
.y4 span,
.y5 span,
.y6 span,
.y7 span {
	color: #6d757e;
}
.y1 span:last-child {
	margin-left: 29px;
	color: #464e56;
	font-weight: 700;
}
.y2 span:last-child {
	margin-left: 24px;
	color: #464e56;
	font-weight: 700;
}
.y3 span:last-child {
	margin-left: 29px;
	color: #464e56;
	font-weight: 700;
}
.y4 span:last-child {
	margin-left: 32px;
	color: #464e56;
	font-weight: 700;
}
.y5 span:last-child {
	margin-left: 23px;
	color: #464e56;
	font-weight: 700;
}
.y6 span:last-child {
	margin-left: 14px;
	color: #464e56;
	font-weight: 700;
}
.y7 span:last-child {
	margin-left: 5px;
	color: #464e56;
	font-weight: 700;
}

@media only screen and (max-width:1135px){
	.chart-list-container button{
		left: -3%;
		width: 106%;
	}
}

@media only screen and (max-width: 1200px) {
	#chartContainer {
		padding-left: 1rem;
	}
}

/** Chart List **/
@media only screen and (max-width: 991px) {
	.chart-list-container .ui[class*="tablet stackable"].table tr{
		display: table !important;
		width:100% !important;
    }
    .chart-list-container .ui[class*="tablet stackable"].table tr{
		width: 100% !important;
		display: flex !important;
		justify-content: space-between !important;
    }
    .chart-list-container .ui[class*="tablet stackable"].table tr>th{
		width: auto !important;
    	display: inline-grid !important;
    }
    .chart-list-container .ui[class*="tablet stackable"].table tr>td{
		font-size: 1.8vw;
	}

	/** load more btn **/
	.chart-list-container button{
		left: -1.6%;
		width: 103.3%;
		bottom:-5%;
	}
}
@media only screen and (max-width:900px){
	/** load more btn **/
	.chart-list-container button{
		left: -1.8%;
    	width: 103.6%;
	}
}
@media only screen and (max-width: 767px) {
	.chart-list-container .ui[class*="tablet stackable"].table tr>td>p{
		display: inline-block;
         width: 100%;
	}
	.chart-list-container .ui[class*="tablet stackable"].table tr>td> .arrow-down,.chart-list-container .ui[class*="tablet stackable"].table tr>td> .arrow-up{
		top: -3px;
	}

	/** load more btn **/
	.chart-list-container button{
		left: -0.1%;
    	width: 100.2%;
	}
}
@media only screen and (max-width: 650px) {
	.chart-list-container .ui[class*="tablet stackable"].table tr>td{
		font-size: 2.8vw;
	}
}

